<!--<div>
    {{userData.username}}
    {{#each userData.events}}
    <h3>{{ title }}</h3>
    <p>{{ text }}</p>
    <p>{{hour}}:{{minute}}, {{month}}/{{day}}/{{year}}</p>
    {{/each}}
</div> -->
<div>
    <h3>Tasks</h3>
    {{#each userData.tasks}}
    <p>{{ text }} {{ status }}</p>
    {{/each}}
</div>

{{> weather }}

<div id="calendar" style="height: 800px; width: 1100px;"></div>

